body{
    margin: 10px;
    background-image: url('./assets/pokemon-in-the-wild.png');
    
    background-color: greenyellow;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.submit{
    justify-content: center;
}